# Default for all
* text=auto

*.py text diff=python eol=lf export-ignore
*.md text diff=markdown eol=lf export-ignore
*.zip filter=lfs diff=lfs merge=lfs -text

*.fit binary

    # Git attributes
.gitignore text eol=lf export-ignore
.gitattributes text eol=lf export-ignore
.gitmodules text eol=lf export-ignore

.modules/* export-ignore
scripts/* export-ignore
/.github export-ignore

CHANGELOG.md export-ignore