# Default for all
* text=auto

*.md diff=markdown
*.zip filter=lfs diff=lfs merge=lfs -text

*.fit binary

    # Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

.modules/* export-ignore
scripts/* export-ignore
/.github export-ignore

CHANGELOG.md export-ignore