# Default for all
* text=auto

*.md diff=markdown
*.zip filter=lfs diff=lfs merge=lfs -text

*.fit -text -diff

    # Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore